#General
python-dotenv
mysqlclient
Pillow
httpie

#Django apps
Django
django-crispy-forms
django-constance[redis]
dj-database-url
django-debug-toolbar
django-filer
django-redis
django-recaptcha
djangorestframework
django-smtp-ssl

#CMS
#django-cms
#djangocms-blog
#djangocms-text-ckeditor
#djangocms-link
#djangocms-file
#djangocms-picture
#djangocms-video
#djangocms-style