{% extends 'index.html' %}
{% load static thumbnail %}
{% block main_content %}
    <!-- ================ start banner Area ================= -->
    <section class="banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 banner-right">
                    <h1 class="text-white">
                        Register
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->
    <section class="sample-text-area">
        <div class="container">
            <h2>Sign up for a free account</h2>
            <p class="lead">Select below the type of account you want to create</p>
            <a href="{% url 'student_signup' %}" class="genric-btn primary radius" role="button">I'm a student</a>
            <a href="{% url 'teacher_signup' %}" class="genric-btn primary radius" role="button">I'm a teacher</a>
        </div>
    </section>
{% endblock %}