{% extends 'index.html' %}
{% load static thumbnail ratings %}
{% block main_content %}
    <!-- ================ start banner Area ================= -->
    <section class="banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 banner-right">
                    <h1 class="text-white">
                        Course Details
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->

    <section class="course-details-area ">
        <div class="container">
            <div style="margin-bottom: 100px;">
                <h2>
                    {{ course.name }}
                </h2></div>
            <div class="row">
                <div class="col-lg-8 course-details-left">
                    <div class="main-image">
                        <img class="img-fluid" src="{{ course.file.url }}" alt="">
                    </div>
                    <div class="content-wrapper">
                        <h4 class="title">Course Outline</h4>
                        <div class="content">
                            <ul class="course-list">
                                {% for section in course.section_set.all %}
                                    <li class="justify-content-between d-flex">
                                        <p>{{ section.title }}</p>
                                        <a class="btn text-uppercase" href="{{ section.get_absolute_url }}">View
                                            Details</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 right-contents">
                    <ul>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Trainer’s Name</p>
                                <span class="or">{{ course.teachers.get_full_name }}</span>
                            </a>
                        </li>
                        {#                        <li>#}
                        {#                            <a class="justify-content-between d-flex" href="#">#}
                        {#                                <p>Course Fee </p>#}
                        {#                                {% if course.price == 0 %}#}
                        {#                                    <span>Gratuit</span>#}
                        {#                                {% else %}#}
                        {#                                    <span>{{ course.price }}</span>#}
                        {#                                {% endif %}#}
                        {#                            </a>#}
                        {#                        </li>#}
                    </ul>
                    {% if user.is_teacher is False and user not in course.students.all %}
                        <a href="{% url 'course_enroll' object.pk %}" class="btn text-uppercase enroll">Enroll the
                            course</a>
                    {% else %}
                        <a href="{% url 'course_enroll' object.pk %}" class="btn text-uppercase enroll">Enrolled</a>
                    {% endif %}
                    <h4 class="title">Rating</h4>
                    <div class="content">
                        {% if user not in course.students.all %}
                            <p> You need to be enrolled as a student to vote.</p>
                            {% ratings course 20 20 True %}
                        {% else %}
                            <div class="review-top row pt-40">
                                <div class="col-lg-12">
                                    <h6 class="mb-15">Provide Your Rating</h6>
                                    {% ratings course 20 20 %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="comments-area mb-30">
                            <div class="comment-list">
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <i class="fa fa-star checked"></i>
                                        </div>
                                        <div class="desc">
                                            <h5>Enrolled studends</h5>
                                            <ul>
                                                {% for student in course.students.all %}
                                                    <li>{{ student }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}