{% extends 'index.html' %}
{% load static thumbnail %}
{% block main_content %}
    <!-- ================ start banner Area ================= -->
    <section class="banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 banner-right">
                    <h1 class="text-white">
                        Do Test
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->
    <section class="sample-text-area">
        <div class="container">
            <p>Test for "{{ section.number }}.{{ section.title }}"</p>
            <hr/>
            <form action="" method="POST">
                {% csrf_token %}
                {% for question in section.question_set.all %}
                    <p><strong>{{ question.text }}</strong></p>
                    <ul>
                        {% for answer in question.answer_set.all %}
                            <li>
                                    <input type="radio" name="question-{{ question.id }}" value="{{ answer.id }}">
                                    {{ answer }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            <hr/>
                <input type="submit" class="genric-btn success radius" value="Submit">
            </form>
        </div>
    </section>
{% endblock %}